<article class="articles">
  <h1><%= @article.title %></h1>
  <div class="publish_date">
    <%= t("published_in")%>: <time datetime="<%= @article.date_publish %>"> <%= @article.published_in %></time>
  </div>
  <% @article.article_attachments.where(:hightlight => false).find_each do |image| %>
  <figure>
    <%= image_tag image.image_url(:hightlight), :width => 650 %>
    <figcaption><%= image.title %></figcaption>
  </figure>
  <% end %>
  <p>
    <%= @article.markdown %>
  </p>
  <%= link_to :back, :class => "read-more" do %>
    <i class="fa fa-long-arrow-left"></i>
    <%= t("back") %>
  <% end %>
</article>

<div class="authors">
  <div class="about-author">
    <%= image_tag @gravatar, :class => "gravatar" %>
    <div class="info">
      <p class="name">Luiz Picolo</p>
      <p class="job">Desenvolvedor Web</p>
      <p class="social">
        <a target="_blank" title="GitHub" href="https://github.com/luizpicolo"><i class="fa fa-github-square"></i></a>
        <a target="_blank" title="Twitter" href="https://twitter.com/luizpicolo_"><i class="fa fa-twitter-square"></i></a>
        <a target="_blank" title="Twitter" href="https://www.fb.com/luizpicolo"><i class="fa fa-facebook-square"></i></a>
      </p>
    </div>
  </div>
</div>

<%- disqus_thread %>
<br />
