<article class="articles">
  <h1><%= @article.title %></h1>
  <div class="publish_date">
    <%= t("published_in")%><time datetime="<%= @article.date_publish %>"> <%= @article.published_in %></time>
  </div>
  <% @article.article_attachments.where(:hightlight => false).find_each do |image| %>
  <figure>
    <%= image_tag image.image_url(:hightlight), :width => 650 %>
    <figcaption><%= image.title %></figcaption>
  </figure>
  <% end %>
  <p>
    <%= @article.markdown %>
  </p>
  <%= link_to :back, :class => "read-more" do %>
    <i class="fa fa-long-arrow-left"></i>
    <%= t("back") %>
  <% end %>
</article>

<%- disqus_thread %>
<br />
