<% @articles.each do |article| %>
<article class="articles">
  <%= link_to show_article_path(
        :year => article.date_publish.year,
        :month => article.date_publish.month,
        :day => article.date_publish.day,
        :slug => article.slug
      ), :class => "title-link" do %>
  <h1><%= article.title %></h1>
  <% end %>
  <div class="publish_date">
    <%= t("published_in")%>: <time datetime="<%= article.date_publish %>"> <%= article.published_in %></time>
  </div>
  <% article.article_attachments.where(:hightlight => true).find_each do |image| %>
  <figure>
    <%= image_tag image.image_url(:hightlight), :width => "100%" %>
    <figcaption><%= image.title %></figcaption>
  </figure>
  <% end %>
  <p>
    <%= article.summary.html_safe %>
  </p>
  <%= link_to show_article_path(
        :year => article.date_publish.year,
        :month => article.date_publish.month,
        :day => article.date_publish.day,
        :slug => article.slug
      ), :class => "read-more" do %>
    <%= t("read_more") %>
    <i class="fa fa-long-arrow-right"></i>
  <% end %>
</article>
<% end %>
