<ul>
  <li><%= link_to t("contact"), contacts_path %></li>
  <li><%= link_to t("publications"), publications_path %></li>
  <li><%= link_to t("screencast"), "#" %></li>
  <li><%= link_to t("portfolio"), portfolio_path %></li>
  <li><%= link_to t("about"), about_path %></li>
  <li><%= link_to t("home"), root_path %></li>
</ul>
